<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="/static/stylevvvvv.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <!--  <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">   -->
      <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap" rel="stylesheet">
    

  </head>
  <body>

    <div class="text1">
        <h1 style="color: #4CAF50;" > <font size="+50"> P5-Super<i>Cool</i> </font>  </h1>
    </div>

    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="projects">Projects</a>
        <a href="Ideas">Journals</a>
        <a href="other">Other</a>
    </div>

    <video class="video-bg" autoplay muted loop>

        <source src="/static/Video1.mp4" type="video/mp4">

    </video>

  </body>

</html>