<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/styleideas.css" rel="stylesheet" type="text/css" />
</head>

<body>





<div class="topnav">
    <a href="/">Home</a>
    <a href="projects">Projects</a>
    <a class="active" href="Ideas">Journals</a>
    <a href="other">Other</a>
</div>

<!--
<video class="video-bg" autoplay muted loop>

    <source src="Video1.mp4" type="video/mp4">

</video>
-->

<main>
    <div class="card-layout">

        <!-- ===================cards start=================== -->

        <div class="card">
            <div class="card-image">
                <a href="https://docs.google.com/document/d/19IbcI38et-u0yeKwYzs6sULmaWqXDVqczzrYy5UUzUo/edit?usp=sharing"><img src="/static/38.PNG" alt="image"/> <a/>
            </div>
            <div class="card-title">
                <a href="https://docs.google.com/document/d/19IbcI38et-u0yeKwYzs6sULmaWqXDVqczzrYy5UUzUo/edit?usp=sharing">Kira's and James' Code Journal<a/>
            </div>
            <div class="card-desc">
                <p>A journal of all code learned and implemented</p>
            </div>
        </div>



        <div class="card">
            <div class="card-image">
                <a href="https://docs.google.com/document/d/1Ks9-bqfbQikNjhScRSih3HqHgx7TqYHQDyoHHA8gR6k/edit?usp=sharing"><img src="/static/39.PNG" alt="image"/> <a/>
            </div>
            <div class="card-title">
                <a href="https://docs.google.com/document/d/1Ks9-bqfbQikNjhScRSih3HqHgx7TqYHQDyoHHA8gR6k/edit?usp=sharing">Sam's, Mackenzie's, and Lucas' Code Journal <a/>
            </div>
            <div class="card-desc">
                <p>A journal of all code learned and implemented</p>
            </div>
        </div>

</body>
</html>

