<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/styleprojects1.css" rel="stylesheet" type="text/css" />
</head>
<body>




<div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="projects">Projects</a>
    <a href="Ideas">Journals</a>
    <a href="other">Other</a>
</div>

<video class="video-bg" autoplay muted loop>

    <source src="/static/Video1.mp4" type="video/mp4">

</video>

<div class="text2">
<h1 style="color: #4CAF50;" > <font size="+50"> Click to visit Projects </font>  </h1>
<a href="https://repl.it/@DankWarz/Lucas-sick-website#static/topnav.css"><h1>Lucas' Project </h1></a>
<a href="https://github.com/samkoenig9/csp-site"><h1>Sams Project </h1></a>
<a href="https://repl.it/join/isrpvcvl-kenzie16rylie"><h1>Mackenzies Project </h1></a>
<a href="/"><h1>Kiras Project </h1></a>
<a href="https://github.com/Bob1437/IntelliJFlaskProject"><h1>James' Project </h1></a>
</div>
</body>
</html>